workflows/video.json
{
  "id": "FHKXx7Ff14YIE94I",
  "name": "video",
  "active": true,
  "description": null,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -224
      ],
      "id": "54dfb798-5722-4faf-990d-b22bd1c7a90b",
      "name": "Webhook",
      "webhookId": "1b2ae24b-de00-4edd-ad1d-2f4b240558d9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        -224
      ],
      "id": "99a89f74-1add-401b-aa37-99ea4e008f04",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate input\nconst input = $input.item.json.body || $input.item.json;\nconst errors = [];\n\nif (!input.scene_id) errors.push(\"Missing: scene_id\");\nif (!input.narration_text) errors.push(\"Missing: narration_text\");\nif (!input.shot_count) errors.push(\"Missing: shot_count\");\n\nif (errors.length > 0) {\n  throw new Error(\"Validation failed: \" + errors.join(\", \"));\n}\n\nreturn {\n  scene_id: input.scene_id,\n  narration_text: input.narration_text,\n  shot_count: parseInt(input.shot_count),\n  style: input.style || \"cinematic\",\n  aspect_ratio: input.aspect_ratio || \"16:9\",\n  imagery_tone: input.imagery_tone || \"high quality, professional\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        -224
      ],
      "id": "f2609d55-38df-4aa1-b3e4-265b47aaef80",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "storyboard-prompt",
              "name": "storyboard_prompt",
              "value": "=Create a SINGLE composite storyboard image with exactly {{ $json.shot_count }} panels arranged in a horizontal strip layout.\n\nScene narration to visualize across panels:\n\"{{ $json.narration_text }}\"\n\nRequirements:\n- ONE image containing {{ $json.shot_count }} distinct panels side by side\n- Each panel shows a sequential moment from the narration\n- Style: {{ $json.style }}\n- Overall aspect ratio: {{ $json.aspect_ratio }}\n- {{ $json.imagery_tone }}\n- Clear visual separation between panels\n- Cinematic composition in each panel\n- Consistent visual style across all panels\n\nThe image should be a professional storyboard suitable for video production planning.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -224
      ],
      "id": "cc1fc0c7-5e8a-4568-a4c0-e28d9a8292e4",
      "name": "Build Storyboard Prompt"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "jeremiah-media",
        "fileName": "=veo3vids/{{ $execution.id }}_{{ $('Validate Input').item.json.scene_id }}.png",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        528,
        -224
      ],
      "id": "92022ca2-35a0-4006-b4c7-881ced7cbd22",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "REDACTED",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7be11fd7-8092-4fa9-ba15-70f9e7c91073",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "87a5b651-67ce-48af-bc17-edddfd9ea499",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "4cef3a63-4fd4-41b3-b209-7299203e6ccb",
              "name": "scene_id",
              "value": "={{ $('Validate Input').item.json.scene_id }}",
              "type": "string"
            },
            {
              "id": "e204bead-4e3e-4f23-aa26-afed877a0128",
              "name": "shot_count",
              "value": "={{ $('Validate Input').item.json.shot_count }}",
              "type": "number"
            },
            {
              "id": "c53e28eb-a810-44bb-9253-edd255404952",
              "name": "storyboard_url",
              "value": "=http://minio:9000/jeremiah-media/veo3vids/{{ $execution.id }}_{{ $('Validate Input').item.json.scene_id }}.png",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -224
      ],
      "id": "35a3a02e-28d7-4fc9-aea2-33a1e5d5d8e0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-fast-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-fast-generate-preview"
        },
        "prompt": "={{ $json.storyboard_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        -224
      ],
      "id": "165f707c-b725-499d-b770-3088180ded37",
      "name": "Generate a video",
      "credentials": {
        "googlePalmApi": {
          "id": "REDACTED",
          "name": "nano credentials"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Build Storyboard Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Storyboard Prompt": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [
    "Anima"
  ],
  "createdAt": "2026-03-30T18:11:16.068Z",
  "updatedAt": "2026-04-06T02:42:02.462Z"
}